In [36]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [37]:
%sql mysql+pymysql://root:****@127.0.0.1:3306/hotel_analysis

'Connected: root@hotel_analysis'

In [3]:
%%sql

SHOW TABLES

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[('hotel_reservation_analysis',)]

In [8]:
%%sql

SELECT *
FROM hotel_reservation_analysis
LIMIT 10;

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
10 rows affected.

[('Resort Hotel', 0, 342, 2015, 'July', 27, 1, 0, 0, 2, 0, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 3, 'No Deposit', None, None, 0, 'Transient', 0, 0, 0, 'Check-Out', '01/07/2015'),
 ('Resort Hotel', 0, 737, 2015, 'July', 27, 1, 0, 0, 2, 0, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 4, 'No Deposit', None, None, 0, 'Transient', 0, 0, 0, 'Check-Out', '01/07/2015'),
 ('Resort Hotel', 0, 7, 2015, 'July', 27, 1, 0, 1, 1, 0, 0, 'BB', 'GBR', 'Direct', 'Direct', 0, 0, 0, 'A', 'C', 0, 'No Deposit', None, None, 0, 'Transient', 75, 0, 0, 'Check-Out', '02/07/2015'),
 ('Resort Hotel', 0, 13, 2015, 'July', 27, 1, 0, 1, 1, 0, 0, 'BB', 'GBR', 'Corporate', 'Corporate', 0, 0, 0, 'A', 'A', 0, 'No Deposit', '304', None, 0, 'Transient', 75, 0, 0, 'Check-Out', '02/07/2015'),
 ('Resort Hotel', 0, 14, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'BB', 'GBR', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', '240', None, 0, 'Transient', 98, 0, 1, 'Check-Out', '03/07/2015'),
 ('Resort Hotel', 0, 14, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'BB', 'GBR', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', '240', None, 0, 'Transient', 98, 0, 1, 'Check-Out', '03/07/2015'),
 ('Resort Hotel', 0, 0, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 0, 'No Deposit', None, None, 0, 'Transient', 107, 0, 0, 'Check-Out', '03/07/2015'),
 ('Resort Hotel', 0, 9, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'FB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 0, 'No Deposit', '303', None, 0, 'Transient', 103, 0, 1, 'Check-Out', '03/07/2015'),
 ('Resort Hotel', 1, 85, 2015, 'July', 27, 1, 0, 3, 2, 0, 0, 'BB', 'PRT', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', '240', None, 0, 'Transient', 82, 0, 1, 'Canceled', '06/05/2015'),
 ('Resort Hotel', 1, 75, 2015, 'July', 27, 1, 0, 3, 2, 0, 0, 'HB', 'PRT', 'Offline TA/TO', 'TA/TO', 0, 0, 0, 'D', 'D', 0, 'No Deposit', '15', None, 0, 'Transient', 106, 0, 0, 'Canceled', '22/04/2015')]

In [5]:
## CHECKING THE TOTAL NUMBER OF RECORDS IN THE DATASET

In [5]:
%%sql

SELECT COUNT(*) as no_of_rows
FROM hotel_reservation_analysis

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(119386,)]

In [6]:
%%sql
#total number of columns
SELECT COUNT(*) as No_of_Column FROM information_schema.columns WHERE table_name ='hotel_reservation_analysis'

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(32,)]

In [23]:
#columns and their datatypes
%%sql

SELECT column_name, data_type
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'hotel_reservation_analysis';

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
32 rows affected.

[('adr', 'int'),
 ('adults', 'int'),
 ('agent', 'text'),
 ('arrival_date_day_of_month', 'int'),
 ('arrival_date_month', 'text'),
 ('arrival_date_week_number', 'int'),
 ('arrival_date_year', 'int'),
 ('assigned_room_type', 'text'),
 ('babies', 'int'),
 ('booking_changes', 'int'),
 ('children', 'int'),
 ('company', 'text'),
 ('country', 'text'),
 ('customer_type', 'text'),
 ('days_in_waiting_list', 'int'),
 ('deposit_type', 'text'),
 ('distribution_channel', 'text'),
 ('hotel', 'text'),
 ('is_canceled', 'int'),
 ('is_repeated_guest', 'int'),
 ('lead_time', 'int'),
 ('market_segment', 'text'),
 ('meal', 'text'),
 ('previous_bookings_not_canceled', 'int'),
 ('previous_cancellations', 'int'),
 ('required_car_parking_spaces', 'int'),
 ('reservation_status', 'text'),
 ('reservation_status_date', 'text'),
 ('reserved_room_type', 'text'),
 ('stays_in_week_nights', 'int'),
 ('stays_in_weekend_nights', 'int'),
 ('total_of_special_requests', 'int')]

In [ ]:
### checking the types of hotel

In [7]:
%%sql

SELECT hotel,COUNT(hotel)
FROM hotel_reservation_analysis
GROUP BY  hotel

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
2 rows affected.

[('Resort Hotel', 40060), ('City Hotel', 79326)]

In [ ]:
## more people use the city hotel
#what days of the week is each hotel used more frequently

In [16]:
%%sql

SELECT hotel,SUM(stays_in_weekend_nights)
FROM hotel_reservation_analysis
group by 1
# city hotel has more week nights booked as well more weekdays booked

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
2 rows affected.

[('Resort Hotel', Decimal('47664')), ('City Hotel', Decimal('63079'))]

In [15]:
%%sql

SELECT hotel,SUM(stays_in_week_nights)
FROM hotel_reservation_analysis
group by 1

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
2 rows affected.

[('Resort Hotel', Decimal('125337')), ('City Hotel', Decimal('173165'))]

### DISTINCT VALUES FOR THE COLUMN arrival_date_year

In [8]:
%%sql

SELECT DISTINCT(arrival_date_year)
FROM hotel_reservation_analysis

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
3 rows affected.

[(2015,), (2016,), (2017,)]

In [ ]:
## COUNT FOR EACH DISTINCT VALUE IN THE arrival_date_year COLUMN

In [10]:
%%sql

SELECT arrival_date_year,COUNT(arrival_date_year)
FROM hotel_reservation_analysis
GROUP BY  arrival_date_year

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
3 rows affected.

[(2015, 21992), (2016, 56707), (2017, 40687)]

In [ ]:
## This dataset is for the year 2015 - 2017

In [11]:
## checking to confirm if there are null values in the column arrival_date_year
%%sql

SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE arrival_date_year IS NULL

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(0,)]

In [25]:
%%sql
SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE arrival_date_month IS NULL

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(0,)]

In [17]:
%%sql

SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE agent IS NULL

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(16338,)]

### Some people reserved a particular type of room but where assigned another room? is this a thing? how often does this occur?
#### Are there returning guests

In [13]:
%%sql

SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE reserved_room_type != assigned_room_type

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(14917,)]

### fraction of the dataset who didnt get the room they reserved

In [20]:
%%sql
SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE reserved_room_type != assigned_room_type and is_repeated_guest = 1 

##the number of people that didnt get their reserved room and are returning guests

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(1060,)]

In [21]:
%%sql
SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE reserved_room_type != assigned_room_type and is_repeated_guest = 0 

##the number of people that didnt get their reserved room and are not returning guests

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(13857,)]

In [ ]:
## off the people whose reserved room and assigned room were different

In [17]:
%%sql

SELECT is_repeated_guest,COUNT(is_repeated_guest)
FROM hotel_reservation_analysis

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
2 rows affected.

[(0, 115576), (1, 3810)]

## the percentage of repeated guests is really low
## why?

In [22]:
##difference between market_segment and distribution_channel columns

0.03191328966545491

In [42]:
%%sql
SELECT COUNT(*)
FROM hotel_reservation_analysis
WHERE market_segment != distribution_channel

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(102322,)]

In [43]:
%%sql
SELECT market_segment,COUNT(market_segment)
FROM hotel_reservation_analysis
GROUP BY market_segment

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
7 rows affected.

[('Direct', 12605),
 ('Corporate', 5295),
 ('Online TA', 56476),
 ('Offline TA/TO', 24219),
 ('Complementary', 743),
 ('Groups', 19811),
 ('Aviation', 237)]

In [44]:
%%sql
SELECT distribution_channel,COUNT(distribution_channel)
FROM hotel_reservation_analysis
GROUP BY distribution_channel

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
5 rows affected.

[('Direct', 14645),
 ('Corporate', 6677),
 ('TA/TO', 97870),
 ('Undefined', 1),
 ('GDS', 193)]

###  Most people booked through travel agents/tour operators

In [ ]:
## did people come with children/babies

In [45]:
%%sql

SELECT babies,COUNT(babies)
FROM hotel_reservation_analysis
GROUP BY  babies

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
5 rows affected.

[(0, 118469), (1, 900), (2, 15), (10, 1), (9, 1)]

In [46]:
%%sql

SELECT sum(babies)
FROM hotel_reservation_analysis

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(Decimal('949'),)]

In [48]:
%%sql

SELECT sum(children)
FROM hotel_reservation_analysis

 * mysql+pymysql://root:***@127.0.0.1:3306/hotel_analysis
1 rows affected.

[(Decimal('12403'),)]